{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>

<body>
    <center>
        <h1>vaisu movie</h1>
        <img src="{% static 'images/varisu.jpg' %}" alt="">
        <img src="{% static 'images/vijay.jpg' %}" alt="">
        <img src="{% static 'images/rashmika.jpg' %}" alt="">
        <h1>If you want Thunivu movie click below link</h1>
        <h1>
            <a href="{% url 'any2:second' %}">click here</a>
        </h1>
    </center>
</body>

</html>